@use "colors" as *;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: $purple-800 $purple-300;

  ::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-track {
    background-color: $purple-800;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $purple-800;
  }
}

body {
  color: $gray-50;
}

body, input, textarea, button {
  font: 500 1rem sans-serif;
  color: $gray-500;

  &:disabled {
    cursor: not-allowed;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}
